@import "bourbon/bourbon";
@import "neat/neat";


// Variables
$vid_overlay: lightseagreen;
$dark_grey: #272822;
$light_grey: #575757;

$content-width:945px;
$tablet-width:700px;
$phone-width:500px;

//Mixins
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@mixin content {
  margin: 0 auto;
  max-width: $content-width;
}

@mixin main-font {
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  line-height: 16.5px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 15px; padding: 0; margin: 0;::selection { background: $dark_grey; }
::-moz-selection { background: $dark_grey; }
}



body {
  @include main-font;
}


section.front {
  margin-top: 200px;
  height: 550px;
  width: 100%;
  @include clearfix;
  position: relative;
  z-index: 1;
}

.videowrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;

  &:after {
    position: absolute;
    content: "";
    display: block;
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.65) 100%));
    height: 100%;
    width: 100%;
    z-index: 300;
  }

  video {
    position: absolute;
    min-width: 100%;
    z-index: -100;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.text-wrapper {
  display: table;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    h1 {
      font-size: 6vw;
      color: white;
      text-shadow: 4px 4px 6px rgba(black, 0.4);
      font-weight: 300;
      line-height: 100%;
      margin:0 0 10px 0;
    }
    h3 {
      @extend h1;
      font-size: 2vw;
    }
  }
}
